USE [master]
GO
/****** Object:  Database [QLThueNhaV0]    Script Date: 9/30/2025 5:15:46 PM ******/
CREATE DATABASE [QLThueNhaV0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueNhaV0', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLThueNhaV0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueNhaV0_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLThueNhaV0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
EXEC [QLThueNhaV0].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO
USE [QLThueNhaV0]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 9/30/2025 5:15:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoTri_SuCo]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoTri_SuCo](
	[MaSuCo] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NULL,
	[MoTaSuCo] [nvarchar](255) NOT NULL,
	[NgayBaoCao] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[ChiPhi] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiThue] [int] NULL,
	[MaPhong] [int] NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TienCoc] [decimal](18, 0) NULL,
	[FileHopDong] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiThue]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThue](
	[MaNguoiThue] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
	[NgayBatDau] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha](
	[MaNha] [int] IDENTITY(1,1) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[TongSoPhong] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaNha] [int] NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[DienTich] [decimal](5, 2) NULL,
	[GiaCoBan] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSanNguoiThue]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSanNguoiThue](
	[MaTaiSan] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiThue] [int] NULL,
	[LoaiTaiSan] [nvarchar](20) NULL,
	[MoTa] [nvarchar](255) NULL,
	[PhiPhuThu] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NULL,
	[ThangNam] [char](7) NOT NULL,
	[TienThue] [decimal](18, 0) NULL,
	[TienDien] [decimal](18, 0) NULL,
	[TienNuoc] [decimal](18, 0) NULL,
	[TienInternet] [decimal](18, 0) NULL,
	[TienVeSinh] [decimal](18, 0) NULL,
	[TienGiuXe] [decimal](18, 0) NULL,
	[ChiPhiKhac] [decimal](18, 0) NULL,
	[TongTien]  AS (((((([TienThue]+[TienDien])+[TienNuoc])+[TienInternet])+[TienVeSinh])+[TienGiuXe])+[ChiPhiKhac]) PERSISTED,
	[TrangThaiThanhToan] [nvarchar](20) NULL,
	[NgayThanhToan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoTri_SuCo] ADD  DEFAULT (getdate()) FOR [NgayBaoCao]
GO
ALTER TABLE [dbo].[BaoTri_SuCo] ADD  DEFAULT ((0)) FOR [ChiPhi]
GO
ALTER TABLE [dbo].[TaiSanNguoiThue] ADD  DEFAULT ((0)) FOR [PhiPhuThu]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienThue]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienDien]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienNuoc]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienInternet]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienVeSinh]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienGiuXe]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [ChiPhiKhac]
GO
ALTER TABLE [dbo].[BaoTri_SuCo]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaNguoiThue])
REFERENCES [dbo].[NguoiThue] ([MaNguoiThue])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaNha])
REFERENCES [dbo].[Nha] ([MaNha])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiSanNguoiThue]  WITH CHECK ADD FOREIGN KEY([MaNguoiThue])
REFERENCES [dbo].[NguoiThue] ([MaNguoiThue])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaoTri_SuCo]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hoàn tất' OR [TrangThai]=N'Đang xử lý' OR [TrangThai]=N'Chưa xử lý'))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([TienCoc]>=(0)))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hủy' OR [TrangThai]=N'Hết hạn' OR [TrangThai]=N'Hiệu lực'))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_Ngay] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_Ngay]
GO
ALTER TABLE [dbo].[NguoiThue]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã trả phòng' OR [TrangThai]=N'Đang ở'))
GO
ALTER TABLE [dbo].[Nha]  WITH CHECK ADD CHECK  (([TongSoPhong]>=(1) AND [TongSoPhong]<=(10)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([DienTich]>(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([GiaCoBan]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đang thuê' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[TaiSanNguoiThue]  WITH CHECK ADD CHECK  (([LoaiTaiSan]=N'Thú cưng' OR [LoaiTaiSan]=N'Xe'))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([TrangThaiThanhToan]=N'Chưa trả' OR [TrangThaiThanhToan]=N'Đã trả'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GhiNhanSuCo]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_GhiNhanSuCo]
    @MaPhong INT,
    @MoTaSuCo NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Phong WHERE MaPhong = @MaPhong)
    BEGIN
        RAISERROR(N'Phòng không tồn tại!', 16, 1);
        RETURN;
    END

    INSERT INTO BaoTri_SuCo (MaPhong, MoTaSuCo, NgayBaoCao, TrangThai, ChiPhi)
    VALUES (@MaPhong, @MoTaSuCo, GETDATE(), N'Chưa xử lý', 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KetThucHopDong]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_KetThucHopDong]
    @MaHopDong INT,
    @TrangThai NVARCHAR(20)  -- 'Hết hạn' hoặc 'Hủy'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaPhong INT;

    SELECT @MaPhong = MaPhong
    FROM HopDong
    WHERE MaHopDong = @MaHopDong;

    IF @MaPhong IS NULL
    BEGIN
        RAISERROR(N'Hợp đồng không tồn tại!', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE HopDong
        SET TrangThai = @TrangThai
        WHERE MaHopDong = @MaHopDong;

        UPDATE Phong
        SET TrangThai = N'Trống'
        WHERE MaPhong = @MaPhong;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHopDong]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_TaoHopDong]
    @MaNguoiThue INT,
    @MaPhong INT,
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @TienCoc DECIMAL(18,0),
    @FileHopDong NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TrangThaiPhong NVARCHAR(20);

    -- Kiểm tra phòng có đang trống không
    SELECT @TrangThaiPhong = TrangThai
    FROM Phong
    WHERE MaPhong = @MaPhong;

    IF @TrangThaiPhong <> N'Trống'
    BEGIN
        RAISERROR(N'Phòng không trống, không thể tạo hợp đồng mới!', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- Thêm hợp đồng
        INSERT INTO HopDong (MaNguoiThue, MaPhong, NgayBatDau, NgayKetThuc, TienCoc, FileHopDong, TrangThai)
        VALUES (@MaNguoiThue, @MaPhong, @NgayBatDau, @NgayKetThuc, @TienCoc, @FileHopDong, N'Hiệu lực');

        -- Cập nhật trạng thái phòng
        UPDATE Phong
        SET TrangThai = N'Đang thuê'
        WHERE MaPhong = @MaPhong;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoThongBaoPhi]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_TaoThongBaoPhi]
    @MaHopDong INT,
    @ThangNam CHAR(7) -- vd: '09/2025'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @GiaCoBan DECIMAL(18,0);

    SELECT @GiaCoBan = p.GiaCoBan
    FROM HopDong h
    JOIN Phong p ON h.MaPhong = p.MaPhong
    WHERE h.MaHopDong = @MaHopDong
      AND h.TrangThai = N'Hiệu lực';

    IF @GiaCoBan IS NULL
    BEGIN
        RAISERROR(N'Hợp đồng không hợp lệ hoặc đã hết hạn!', 16, 1);
        RETURN;
    END

    INSERT INTO ThanhToan (MaHopDong, ThangNam, TienThue, TrangThaiThanhToan)
    VALUES (@MaHopDong, @ThangNam, @GiaCoBan, N'Chưa trả');
END;
GO
USE [master]
GO
ALTER DATABASE [QLThueNhaV0] SET  READ_WRITE 
GOUSE [master]
GO
/****** Object:  Database [QLThueNhaV0]    Script Date: 9/30/2025 5:15:46 PM ******/
CREATE DATABASE [QLThueNhaV0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueNhaV0', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLThueNhaV0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueNhaV0_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLThueNhaV0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
EXEC [QLThueNhaV0].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO
USE [QLThueNhaV0]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 9/30/2025 5:15:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoTri_SuCo]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoTri_SuCo](
	[MaSuCo] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NULL,
	[MoTaSuCo] [nvarchar](255) NOT NULL,
	[NgayBaoCao] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[ChiPhi] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiThue] [int] NULL,
	[MaPhong] [int] NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TienCoc] [decimal](18, 0) NULL,
	[FileHopDong] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiThue]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThue](
	[MaNguoiThue] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
	[NgayBatDau] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha](
	[MaNha] [int] IDENTITY(1,1) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[TongSoPhong] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaNha] [int] NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[DienTich] [decimal](5, 2) NULL,
	[GiaCoBan] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSanNguoiThue]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSanNguoiThue](
	[MaTaiSan] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiThue] [int] NULL,
	[LoaiTaiSan] [nvarchar](20) NULL,
	[MoTa] [nvarchar](255) NULL,
	[PhiPhuThu] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 9/30/2025 5:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NULL,
	[ThangNam] [char](7) NOT NULL,
	[TienThue] [decimal](18, 0) NULL,
	[TienDien] [decimal](18, 0) NULL,
	[TienNuoc] [decimal](18, 0) NULL,
	[TienInternet] [decimal](18, 0) NULL,
	[TienVeSinh] [decimal](18, 0) NULL,
	[TienGiuXe] [decimal](18, 0) NULL,
	[ChiPhiKhac] [decimal](18, 0) NULL,
	[TongTien]  AS (((((([TienThue]+[TienDien])+[TienNuoc])+[TienInternet])+[TienVeSinh])+[TienGiuXe])+[ChiPhiKhac]) PERSISTED,
	[TrangThaiThanhToan] [nvarchar](20) NULL,
	[NgayThanhToan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoTri_SuCo] ADD  DEFAULT (getdate()) FOR [NgayBaoCao]
GO
ALTER TABLE [dbo].[BaoTri_SuCo] ADD  DEFAULT ((0)) FOR [ChiPhi]
GO
ALTER TABLE [dbo].[TaiSanNguoiThue] ADD  DEFAULT ((0)) FOR [PhiPhuThu]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienThue]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienDien]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienNuoc]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienInternet]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienVeSinh]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienGiuXe]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [ChiPhiKhac]
GO
ALTER TABLE [dbo].[BaoTri_SuCo]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaNguoiThue])
REFERENCES [dbo].[NguoiThue] ([MaNguoiThue])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaNha])
REFERENCES [dbo].[Nha] ([MaNha])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiSanNguoiThue]  WITH CHECK ADD FOREIGN KEY([MaNguoiThue])
REFERENCES [dbo].[NguoiThue] ([MaNguoiThue])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaoTri_SuCo]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hoàn tất' OR [TrangThai]=N'Đang xử lý' OR [TrangThai]=N'Chưa xử lý'))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([TienCoc]>=(0)))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Hủy' OR [TrangThai]=N'Hết hạn' OR [TrangThai]=N'Hiệu lực'))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_Ngay] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_Ngay]
GO
ALTER TABLE [dbo].[NguoiThue]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã trả phòng' OR [TrangThai]=N'Đang ở'))
GO
ALTER TABLE [dbo].[Nha]  WITH CHECK ADD CHECK  (([TongSoPhong]>=(1) AND [TongSoPhong]<=(10)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([DienTich]>(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([GiaCoBan]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đang thuê' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[TaiSanNguoiThue]  WITH CHECK ADD CHECK  (([LoaiTaiSan]=N'Thú cưng' OR [LoaiTaiSan]=N'Xe'))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([TrangThaiThanhToan]=N'Chưa trả' OR [TrangThaiThanhToan]=N'Đã trả'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GhiNhanSuCo]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_GhiNhanSuCo]
    @MaPhong INT,
    @MoTaSuCo NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Phong WHERE MaPhong = @MaPhong)
    BEGIN
        RAISERROR(N'Phòng không tồn tại!', 16, 1);
        RETURN;
    END

    INSERT INTO BaoTri_SuCo (MaPhong, MoTaSuCo, NgayBaoCao, TrangThai, ChiPhi)
    VALUES (@MaPhong, @MoTaSuCo, GETDATE(), N'Chưa xử lý', 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KetThucHopDong]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_KetThucHopDong]
    @MaHopDong INT,
    @TrangThai NVARCHAR(20)  -- 'Hết hạn' hoặc 'Hủy'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaPhong INT;

    SELECT @MaPhong = MaPhong
    FROM HopDong
    WHERE MaHopDong = @MaHopDong;

    IF @MaPhong IS NULL
    BEGIN
        RAISERROR(N'Hợp đồng không tồn tại!', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE HopDong
        SET TrangThai = @TrangThai
        WHERE MaHopDong = @MaHopDong;

        UPDATE Phong
        SET TrangThai = N'Trống'
        WHERE MaPhong = @MaPhong;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHopDong]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_TaoHopDong]
    @MaNguoiThue INT,
    @MaPhong INT,
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @TienCoc DECIMAL(18,0),
    @FileHopDong NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TrangThaiPhong NVARCHAR(20);

    -- Kiểm tra phòng có đang trống không
    SELECT @TrangThaiPhong = TrangThai
    FROM Phong
    WHERE MaPhong = @MaPhong;

    IF @TrangThaiPhong <> N'Trống'
    BEGIN
        RAISERROR(N'Phòng không trống, không thể tạo hợp đồng mới!', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- Thêm hợp đồng
        INSERT INTO HopDong (MaNguoiThue, MaPhong, NgayBatDau, NgayKetThuc, TienCoc, FileHopDong, TrangThai)
        VALUES (@MaNguoiThue, @MaPhong, @NgayBatDau, @NgayKetThuc, @TienCoc, @FileHopDong, N'Hiệu lực');

        -- Cập nhật trạng thái phòng
        UPDATE Phong
        SET TrangThai = N'Đang thuê'
        WHERE MaPhong = @MaPhong;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoThongBaoPhi]    Script Date: 9/30/2025 5:15:47 PM ******/
GO
CREATE PROCEDURE [dbo].[sp_TaoThongBaoPhi]
    @MaHopDong INT,
    @ThangNam CHAR(7) -- vd: '09/2025'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @GiaCoBan DECIMAL(18,0);

    SELECT @GiaCoBan = p.GiaCoBan
    FROM HopDong h
    JOIN Phong p ON h.MaPhong = p.MaPhong
    WHERE h.MaHopDong = @MaHopDong
      AND h.TrangThai = N'Hiệu lực';

    IF @GiaCoBan IS NULL
    BEGIN
        RAISERROR(N'Hợp đồng không hợp lệ hoặc đã hết hạn!', 16, 1);
        RETURN;
    END

    INSERT INTO ThanhToan (MaHopDong, ThangNam, TienThue, TrangThaiThanhToan)
    VALUES (@MaHopDong, @ThangNam, @GiaCoBan, N'Chưa trả');
END;
GO
INSERT INTO [dbo].[Admin] (TenDangNhap, MatKhau, Email, SoDienThoai)
VALUES (N'admin', N'admin123', N'example@gmail.com', N'0123456789');
GO